.popup__submit {
  width: 358px;
  height: 50.15px;
  background: #000000;
  border-radius: 2px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  border: none;
  margin-top: 48px;
  cursor: pointer;
  margin-bottom: 36.51px;
}

@media screen and (max-width: 600px){
  .popup__submit {
    max-width: 225px;
  }
}


.popup__submit:hover {
  opacity: 0.8;
  transition: .2s ease-in;
}
