.popup__profession {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  width: 358px;
  border-bottom: 1px solid rgba( 0,  0,  0,  0.2);
  border-top: none;
  border-right: none;
  border-left: none;
  margin-top: 29px;
}

@media screen and (max-width: 600px){
  .popup__profession {
    max-width: 225px;
 }
}
