@import url(./__image/element__image.css);
@import url(./__like/element__like.css);
@import url(./__title/element__title.css);
@import url(./__cell/element__cell.css);

.element {
background-color: #FFFFFF;
box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
border-radius: 10px;
overflow: hidden;
}
